.top-links {
  text-align: center;
  padding: 16px 0;

  a {
    text-decoration: none;
    color: #0099ff;
    margin-left: 32px;

    &.active {
      color: black;
      cursor: default;
    }
  }
}

.c-dashboard {
  margin: 8px 16px;

  .c-dashboard__header {
    display: flex;
    justify-content: center;
  }

  .c-dashboard__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-filters__container {
  margin: 0 0 8px;
  padding: 16px 8px;
  border: 1px solid #dcdee3;
  background-color: #e5e9f1;
}

.c-chart__container {
  height: 350px;
  width: 760px;

  .text-warning{
    text-align: center;
    font-size: 24px;
    color: maroon;
  }
}

.c-button {
  height: 55px;
  background-color: #0099ff;
  color: white;
  min-width: 175px;
  padding: 0 16px;
  border-radius: 4px;
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 5px;
    height: 7px;
    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      bottom: -19px;
      width: 32px;
      height: 32px;
      margin: 8px;
      border: 5px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
